.btn-secondary {
  color: #fff !important; }
body{
  font-family: 'Arima Madurai', cursive;
}

img {
  width: 100%; }

.logo {
  width: 80px; }
  .my-card-img {
    height: 15vh;
}
.my-footer{
  right: 0;
    bottom: 0;
    left: 0;
}
.navbar {
  height: 70px;
  opacity: 0.9;
  text-transform: uppercase; }
  .my-title{
    font-family: 'Courier New';
  }
  .font-1{
    font-family:Courier;
  }
  .footer-font{
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.2em;
  }
  .font-2{
    font-family: 'Dosis', sans-serif;
  }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.jpg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(0, 127, 86, 0.33); }

#services {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; 
  font-family: 'Cabin Sketch', cursive;
}
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }

#showcase-inner {
  background: url(../img/building.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 364px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(32, 134, 107, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }

    /* this is test */
/* Background container */
#cssmenu-container {
  height: 220px;
  background-color: #CEE3F8;
}

/* Menu container */
#cssmenu {
  display: inline-block; /* The menu will have width as needed, not 100% */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
  border-radius: 2px; /* Little curvature in the borders */
  overflow: hidden; /* Hide everything that overflows, like shadows */
}

/* Icons */
#cssmenu i {
  transform: scale(1.4);
}

/* Menu */
#cssmenu ul {
  display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
  flex-direction: row-reverse; /* Reverse the items */
  /* Reset styles, overwrite browser defaults */
  list-style: none;
  margin: 0;
  padding: 0;
}

#cssmenu ul li {
  margin: 0;
}
/* Menu items */
#cssmenu ul li a {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  padding: 12px 30px 12px 45px; /* Adjusting padding to get the proper space */
  margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
  color: white;
  background-color: #00d4a6de;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 100px 100px 0; /* Get the right side rounded */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Apply the shadow */
}
/* Hover event */
#cssmenu ul li:hover a {
  background-color: #00d4a6;
}

/* Remove the shadow for first item, last in the right side when it gets reversed */
#cssmenu ul li:first-child a {
  box-shadow: none;
}

/* Active item is a bit different */
#cssmenu ul li.active a {
  color: #00d4a6;
  background-color: #EEF5FF;
}

/* Remove the shadow for the active's next item, to match the design more accurately */
#cssmenu ul li.active + li a {
  box-shadow: none;
}
/* end of test */

/* this is style for input files  */

.my-file-input{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.my-icon{
  margin-left: auto;
  margin-right: auto;
  bottom: 0;

}
.my-label{
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 3%;
  
}
.my-label:hover{
  background-color: #30caa1af !important;
}
.my-label:hover > i{
  border-radius: 10px 10px 1px 1px;
  box-shadow: 5px 5px 15px gray;
}
.my-label > p{
  font-size: 15px;
  margin-bottom: 0px;
  width: 100%;
  height: 65%;
}
.main-pic{
  display: block !important;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 200px;
  height: 80px;
}

.my-container{
  margin: auto;
  width: 60%;

}