{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="hero-wrap hero-wrap-0" style="background-image: url({% static '/images/create.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center center;">
  <div class="overlay"></div>
  <div class="circle-bg"></div>
  <div class="circle-bg-2"></div>
  <div class="container-fluid">
    <div class="row no-gutters d-flex slider-text slider-text-0 align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">LOGIN</h1>
      </div>
    </div>
  </div>
</div>

<section id="login" class=" py-2">
  <div class="container login-container bg-light">
      <div class="row login-row">
          <div class="col text-center show-case-area" style="background-image: url({% static '/images/show-case.jpg' %}); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="container green-part">
              <div class="one-forth pr-md-4 ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
                  <h1 class="mb-5 text-white bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hello Friend !</h1>
                  <p class="mb-md-5 mb-sm-3 subtitle-login" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A small river named Duden flows by their place and supplies it with the necessary regelialia. Register As:</p>
                  <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{% url 'seller_register' %}" class="btn my-btn-primary px-4 py-3">Seller</a> <a href="{% url 'buyer_register' %}" class="btn my-btn-primary px-4 py-3">Buyer</a></p>
                </div>
           </div>
        </div>
        <div class="col text-center login-form-col">
            <h1 class="mb-4 login-title" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">LOGIN</h1>
            <div class=" text-center">
       
              <ul class="ftco-footer-social list-unstyled">
                <li class="ftco-animate"><a href="#" class="social-media-login"><span class="fab fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" class="social-media-login" ><span class="fab fa-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="social-media-login" ><span class=" fab fa-instagram"></span></a></li>
              </ul>
            </div>
            <p class="mb-5 subtitle-login"> Or Use Your Username And Password</p>
            {% include 'partials/_alerts.html' %}
              <form class="my-form" action="{% url 'login' %}" method="POST">
              {% csrf_token %}
                <div class="form-group login-from-item">
                  <i class="fas fa-user-tie login-icon"></i>
                  <input type="text" name="username" class="form-control login-input" placeholder="Username" required>
                </div>
                <div class="form-group login-from-item">
                  <i class="fas fa-unlock-alt login-icon"></i>
                  <input type="password" name="password" class="form-control login-input" placeholder="Password" required>
                </div>

                <input type="submit" value="Login" class="btn btn-primary btn-lg">
              </form>
              <p class="subtitle-login mt-4 "><a href="#" class="text-secondary"> Your Password ?</a> </p>

        </div>
  </div>
</div>
  </section>
{% endblock %}