<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      
      <div class="row py-2  text-center mb-2 my-text-col">
      <div class="col-3">
        <span class="icon icon-map-marker d-block"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
      </div>
      <div class="col-3">
        <span class="icon icon-phone d-block"></span><span class="text">+2 392 3929 210</span>
      </div>
      <div class="col-3">
        <span class="icon icon-envelope d-block"></span><span class="text">info@yourdomain.com</span>
      </div>
      <div class="col-3">
        <span class="icon icon-clock-o d-block"></span><span class="text">Saturday &mdash; Sunday 8:00am - 5:00pm</span>
      </div>
      </div>
      <div class="col-md text-center">
       
          <ul class="ftco-footer-social list-unstyled">
            <li class="ftco-animate"><a href="#"><span class="fab fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fab fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class=" fab fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to llachgar can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-cannabis" aria-hidden="true"></i> by llachgar</a>
<!-- Link back to llachgar can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>