{% extends 'base.html' %} 

{% load static %}

{% block title %} | About Us {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About BT Real Estate</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <!-- this is test -->
    <div id="cssmenu">  
        <ul>
            <li class="active"><a href="#">About</a></li>
            <li><a href="{% url 'listings'%}">FEATURED LISTINGS</a></li>
            <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a></li>
        </ul>
    </div>
    <!-- hello -->
  <!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 col-lg-7 mb-4">

    <!--Card-->
    <div class="card" style="width: 30vw;">

      <!--Card image-->
      <div class="view">
        <img src="{% static 'img/about.jpg' %}" class="img-fluid card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h2 class="my-title text-secondary card-title">We Search For The Perfect Deal</h2>
        <!--Text-->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
      </div>

    </div>
    <!--/.Card-->

  </div>
  <div class="col-md-4">
    {% if mvp_Sellers %}
      {% for Seller in mvp_Sellers %}
      <div class="card">
          <img class="card-img-top" src="{{ Seller.photo.url }}" alt="Seller of the month">
          <div class="card-body">
            <h5 class="card-title">Seller Of The Month</h5>
            <h6 class="text-secondary">{{ Seller.firstname }}</h6>
            <p class="card-text">{{ Seller.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
  <!-- Grid column -->

  <!-- end hello -->
  </section>
  

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if Sellers %}
          {% for Seller in Sellers %}
          <div class="col-md-4">
              <img src="{{ Seller.photo.url }}" alt="" class="rounded-circle mb-3">
              <h4>{{ Seller.firstname }}</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> Seller</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ Seller.cellphone }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ Seller.email }}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Sellers Available</p>
          </div>
        {% endif %}       
      </div>
    </div>
  </section>
{% endblock %}