{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center ">
      <div class="home-search p-5">
        <div class="overlay p-5 rounded">
          <h1 class="display-4 mb-4">
            Bidding On Trash Just Got So Easy
          </h1>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <h2>Select below the type of account you want to create</h2>
              <a href="{% url 'buyer_register' %}" class="btn btn-success btn-lg" role="button">I'm a Buyer</a>
              <a href="{% url 'seller_register' %}" class="btn btn-success btn-lg" role="button">I'm a Seller</a>
              <h2>You already have an account ?</h2>
              <a href="{% url 'login' %}" class="btn btn-success btn-lg" role="button">LOGIN</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
{% include 'partials/_alerts.html' %}
  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center text-secondary mb-3 display-4 my-title">Latest Listings</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4 my-title">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">{{ listing.price | intcomma }}MAD</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary ">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-8">
                      <i class="fas fa-city"></i> City: {{listing.city }}</div>
                    <div class="col-8">
                      <i class="fas fa-weight-hanging"></i> Quantity: {{listing.quantity }} TON</div>
                      <div class="col-8">
                        <i class="fas fa-truck"></i> {{listing.delivery }}</div>
                      <div class="col-8">
                        <i class="fas fa-map-marker-alt"></i> ZipCode: {{listing.zipcode }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-8">
                      <i class="fas fa-user"></i> {{listing.seller }}</div>
                      <div class="col-8">
                        <i class="fas fa-clock"></i> {{listing.date_posted | timesince }}</div>
                  </div>
                  <hr>
                  <a href="{% url 'listing' listing.id %}" class="btn btn-secondary btn-block">BID NOW</a>
                </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fa  fa-trash fa-4x mr-4"></i>
          <hr>
          <h3>Trash Selling Service</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-money-bill-alt fa-4x mr-4" aria-hidden="true"></i>
          <hr>
          <h3>Bidding & Get The best Price</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}