{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}
Title:
<br />
<input type="text" name="title" />
<br />
Description:
<br />
<input type="textbox" name="description" />
<br />


Main Image:
<br />
<input type="file" name="photo_main" />
<br />
Image 1:
<br />
<input type="file" name="photo_1" />
<br />
Image 2:
<br />
<input type="file" name="photo_2" />
<br />
Image 3:
<br />
<input type="file" name="photo_3" />
<br />
Image 4:
<br />
<input type="file" name="photo_4" />
<br />
Image 5:
<br />
<input type="file" name="photo_5" />
<br />
Image 6:
<br />
<input type="file" name="photo_6" />
<br />

Price:
<br />
<input type="text" name="price" />
<br />
Quantity
<br />
<input type="text" name="quantity" />
<br />
Address
<br />
<input type="text" name="address" />
<br />
City
<br />
<input type="text" name="city" />
<br />
State
<br />
<input type="text" name="state" />
<br />
Zipcode
<br />
<input type="text" name="zipcode" />
<br />
Delivery
<br />
<input type="text" name="delivery" />
<br />
Category<span class="asteriskField">*</span> </label> <div class=""> <select name="category" class="select form-control" required="" id="id_category"> <option value="">---------</option> <option value="CW">Construction waste</option> <option value="ET">Electronics</option> <option value="GLS" selected="">Glass</option> <option value="HAZ">Hazardous</option> <option value="FER">Metals</option> <option value="HAZ">Hazardous</option> <option value="MWP">Mixed waste products</option> <option value="ORG">Organic</option> <option value="PAC">Paper and cardboard</option> <option value="MK">Plastics</option> <option value="RUB">Rubber</option> <option value="TOB">Textiles</option>
<input class="btn btn-primary" type="submit" value="Add Product" />

</form>

{% endblock %}