{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="hero-wrap hero-wrap-0" style="background-image: url({% static '/images/showcase.jpg' %}); background-size: cover;">
    <div class="overlay"></div>
    <div class="circle-bg"></div>
    <div class="circle-bg-2"></div>
    <div class="container-fluid">
      <div class="row no-gutters d-flex slider-text align-items-center justify-content-center slider-text-0" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Listings</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Listings</h1>
        </div>
      </div>
    </div>
  </div>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">

      {% if listings %}
        {% for listing in listings %}
        <!-- listing  -->
        <div class="card1 col-md-3 ftco-animate mb-3">
          <div class="row card-row">
          <div class=" col card__image-container1">
            <img class="card__image1" src="{{ listing.photo_main.url }}" alt="">
         </div>
        
           
           <svg class="card__svg1" viewBox="0 0 800 500">
     
             <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="white"/>
             <path class="card__line1" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
           </svg>
          </div>
          <div class="card__content1">
             <div class="text p-4">
                 <div class="meta mb-3">
                   <div><a href="#">{{listing.date_posted | timesince }} a go</a></div>
                   <div><a href="#">{{listing.seller }}</a></div>
                   <div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{listing.city }}</a></div>
                 </div>
                 <hr/>
                 <div class="row py-2 text-secondary">
                   <div class="col-12">
                     <i class="fas fa-city"></i> City: {{listing.city }}</div>
                   <div class="col-12">
                     <i class="fas fa-weight-hanging"></i> Quantity: {{listing.quantity }} TON</div>
                     <div class="col-12">
                       <i class="fas fa-truck"></i> {{listing.delivery }}</div>
                     <div class="col-12">
                       <i class="fas fa-map-marker-alt"></i> ZipCode: {{listing.zipcode }}</div>
                       
                       <div class="col-12">
                           <i class="fas fa-comment-dollar"></i> Start Price: {{listing.price }} mad</div>
                 </div>
               <hr>
               <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Details</a>
               </div>
         </div>
       </div>
      <!-- <div class="col-md-4 ftco-animate">
        <div class="blog-entry" data-aos-delay="200">
          <a href="{% url 'listing' listing.id %}" class="block-20" style="background-image: url('{{ listing.photo_main.url }}');">
          </a>
          <div class="text p-4">
            <div class="meta mb-3">
              <div><a href="#">{{listing.date_posted | timesince }} a go</a></div>
              <div><a href="#">{{listing.seller }}</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{listing.city }}</a></div>
            </div>
            <hr/>
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-city"></i> City: {{listing.city }}</div>
              <div class="col-12">
                <i class="fas fa-weight-hanging"></i> Quantity: {{listing.quantity }} TON</div>
                <div class="col-12">
                  <i class="fas fa-truck"></i> {{listing.delivery }}</div>
                <div class="col-12">
                  <i class="fas fa-map-marker-alt"></i> ZipCode: {{listing.zipcode }}</div>
                  
                  <div class="col-12">
                      <i class="fas fa-comment-dollar"></i> Start Price: {{listing.price }} mad</div>
            </div>
          <hr>
          <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Details</a>
          </div>
        </div>
      </div> -->
      {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
        {% endif %}
      <!-- end of listing -->
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
            {% if listings.has_other_pages %}
          <ul>
            {% if listings.has_previous %}
            <li><a href="#">&lt;</a></li>
            {% else %}
            <li class="disabled"><a href="#">&lt;</a></li>
            {% endif %}
            {% for i in listings.paginator.page_range %}
            {% if listings.number == i %}
            <li class="active"><span>{{i}}</span></li>
            {% else %}
            <li href="?page={{i}}"><span>{{i}}</span></li>
            {% endif %}
              {% endfor %}
              {% if listings.has_next %}
                <li href="?page={{listings.next_page_number}}" ><a href="#">&gt;</a></li>
              {% else %}
              <li class="disabled" ><a href="#">&gt;</a></li>
              {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock  %}
