
{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}
    <!-- <div class="js-fullheight"> -->
        <div class="hero-wrap hero-wrap-0" style="background-image: url({{ listing.photo_main.url }}); background-size: cover; background-repeat: no-repeat; background-position: center center;">
            <div class="overlay"></div>
            <div class="circle-bg"></div>
            <div class="circle-bg-2"></div>
            <div class="container-fluid">
              <div class="row no-gutters d-flex slider-text slider-text-0 align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                  <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span class="mr-2"><a href="{% url 'listings' %}">Listings</a></span> <span>{{ listing.title }}</span></p>
                  <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{ listing.title }}</h1>
                </div>
              </div>
            </div>
          </div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <h1 class="mb-3 text-center">{{ listing.title }}</h2>
      
              <div class="tagcloud text-center">
                <a href="" class="tag-cloud-link"><p class="tag-cloud-link">{{ listing.get_category_display }}</p></a>
              </div>
            <hr>

            <div class="one-half align-self-md-end align-self-sm-center">
              <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item my-img" style="background-image: url({{ listing.photo_main.url }})">
                </div>
                {% if listing.photo_1 %}
                <div class="item my-img">
                  <img src="{{ listing.photo_1.url }}" class="img-fluid my-img"alt="">
                </div>
                {% endif %}
                {% if listing.photo_2 %}
                <div class="item my-img" style="background-image: url({{ listing.photo_2.url }})">
                </div>
                {% endif %}
                {% if listing.photo_3 %}
                <div class="item my-img" style="background-image: url({{ listing.photo_3.url }})">
                </div>
                {% endif %}
                {% if listing.photo_4 %}
                <div class="item my-img" style="background-image: url({{ listing.photo_4.url }})">
                </div>
                {% endif %}
                {% if listing.photo_5 %}
                <div class="item my-img" style="background-image: url({{ listing.photo_5.url }})">
                </div>
                {% endif %}
                {% if listing.photo_6 %}
                <div class="item my-img" style="background-image: url({{ listing.photo_6.url }})">
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row py-2 text-secondary text-center">
                <div class="col-2">
                  <i class="fas fa-city"></i> City: {{listing.city }}</div>
                <div class="col-2">
                  <i class="fas fa-weight-hanging"></i> Quantity: {{listing.quantity }} <small>TON</small></div>
                  <div class="col-2">
                    <i class="fas fa-truck"></i> {{listing.delivery }}</div>
                  <div class="col-2">
                    <i class="fas fa-map-marker-alt"></i> ZipCode: {{listing.zipcode }}</div>
                    
                    <div class="col-3">
                        <i class="fas fa-comment-dollar"></i> Start Price: {{listing.price }} <small>mad</small> </div>
              </div>
              <hr>
            <p>{{ listing.description }}</p>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">BID</a>
            <hr>
          <div class="about-author d-flex p-5 bg-light rounded">
            <div class="bio align-self-md-center mr-5">
              <!-- <img src="{{ listing.seller.photo.url}}" alt="Image placeholder" class="img-fluid mb-4"> -->
            </div>
            <div class="desc align-self-md-center">
              <h3>{{ listing.seller }}</h3>
              <!-- text here bout seller -->
            </div>
          </div>


          <!-- <div class="pt-5 mt-5">
            <h3 class="mb-5">6 Comments</h3>
            <ul class="comment-list">
              <li class="comment">
                <div class="vcard bio">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>John Doe</h3>
                  <div class="meta">June 27, 2018 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>

              <li class="comment">
                <div class="vcard bio">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>John Doe</h3>
                  <div class="meta">June 27, 2018 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>

                <ul class="children">
                  <li class="comment">
                    <div class="vcard bio">
                      <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                      <h3>John Doe</h3>
                      <div class="meta">June 27, 2018 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                      <p><a href="#" class="reply">Reply</a></p>
                    </div>


                    <ul class="children">
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>John Doe</h3>
                          <div class="meta">June 27, 2018 at 2:21pm</div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                          <p><a href="#" class="reply">Reply</a></p>
                        </div>

                          <ul class="children">
                            <li class="comment">
                              <div class="vcard bio">
                                <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                              </div>
                              <div class="comment-body">
                                <h3>John Doe</h3>
                                <div class="meta">June 27, 2018 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                              </div>
                            </li>
                          </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="comment">
                <div class="vcard bio">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>John Doe</h3>
                  <div class="meta">June 27, 2018 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                  <p><a href="#" class="reply">Reply</a></p>
                </div>
              </li>
            </ul>
           
            
          </div> -->

        </div> <!-- .col-md-8 -->


      </div>
    </div>
  </section> <!-- .section -->

{% endblock %}