{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="hero-wrap hero-wrap-0"
  style="background-image: url({% static '/images/create.jpg' %}); background-size: cover;">
  <div class="overlay"></div>
  <div class="circle-bg"></div>
  <div class="circle-bg-2"></div>
  <div class="container-fluid">
    <div class="row no-gutters d-flex slider-text-0 slider-text align-items-center justify-content-center"
      data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
              href="{% url 'index' %}">Home</a></span> <span><a href="{% url 'listings' %}">Listings</a></span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">UPDATE</h1>
      </div>
    </div>
  </div>
</div>
<section id="login" class="bg-light py-5">
  <div class="container my-container">
    <h4 class="text-center mb-4 text-primary">
      <i class="fa fa-edit"></i> Update</h4>


    {% include 'partials/_alerts.html' %}
    <!-- test -->
    {% if error %}
    {{ error }}
    {% endif %}
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col">
          {{ form.title|as_crispy_field }}
        </div>

        <div class="form-group col">
          {{ form.category|as_crispy_field }}
        </div>

        <div class="form-group col">
          {{ form.quantity|as_crispy_field }}
        </div>

        <div class="form-group col">
          {{ form.price|as_crispy_field }}
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          {{ form.address|as_crispy_field }}
        </div>

        <div class="form-group col">
          {{ form.city|as_crispy_field }}
        </div>


        <div class="form-group col">
          {{ form.zipcode|as_crispy_field }}
        </div>

        <div class="form-group col">
          {{ form.delivery|as_crispy_field }}
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label for="photo_main" class="my-label  main-pic ftco-animate fadeInUp ftco-animated"
            style="background: url({{ form.photo_main.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_main" /> -->
            {{ form.photo_main|as_crispy_field}}
            {%if form.photo_main.value %}
            {% else %}
            <p class="file-return">Main Photo</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>
        </div>
        <div class="row">
          <label for="photo_1" class="my-label  mr-4 col"
            style="background: url({{ form.photo_1.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_1" /> -->
            {{ form.photo_1}} {%if form.photo_1.value %} {% else %}
            <p class="file-return">Image 1</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>

          <label for="photo_2" class="my-label  mr-4 col"
            style="background: url({{ form.photo_2.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_2" /> -->
            {{ form.photo_2}} {%if form.photo_2.value %} {% else %}
            <p class="file-return">Image 2</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>

          <label for="photo_3" class="my-label   mr-4 col"
            style="background: url({{ form.photo_3.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_3" /> -->
            {{ form.photo_3}} {%if form.photo_3.value %} {% else %}
            <p class="file-return">Image 3</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>

          <label for="photo_4" class="my-label  mr-4 col"
            style="background: url({{ form.photo_4.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_4" /> -->
            {{ form.photo_4}} {%if form.photo_4.value %} {% else %}
            <p class="file-return">Image 4</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>

          <label for="photo_5" class="my-label  mr-4 col"
            style="background: url({{ form.photo_5.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_5" /> -->
            {{ form.photo_5}} {%if form.photo_5.value %} {% else %}
            <p class="file-return">Image 5</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>

          <label for="photo_6" class="my-label   mr-0 col"
            style="background: url({{ form.photo_6.value.url}}) center center no-repeat; background-size:cover;">
            <!-- <input type="file" class="form-control-file my-file-input" name="photo_6" /> -->
            {{ form.photo_6}} {%if form.photo_6.value %} {% else %}
            <p class="file-return">Image 6</p>
            {% endif %}
            <i class="fa fa-plus-square my-icon fa-2x"></i>
          </label>
        </div>
      </div>

      <div class="form-group">
        {{ form.description|as_crispy_field }}
      </div>





      <input class="btn btn-primary py-3 px-5 btn-block mt-3" type="submit" value="Update" />

    </form>

  </div>
</section>
<!-- form section  -->
<!-- <section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <h4>
              <i class="fas fa-folder-plus"></i> Update: {{ listing.title }} </h4>
          </div>
          <div class="card-body">
            {% include 'partials/_alerts.html' %}
            {% if error %}
            {{ error }}
            {% endif %}
            <form method="POST" action="{% url 'update' listing.id %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                {{ form|crispy }}
                <button type="submit" class="btn btn-success btn-block">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- form end -->
{% endblock %}